@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin: 0;
    background-color: #f4f4f4;
}
/*global*/
.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding:0;
}

/*header*/
header{
    background:#ffffff;
    color:#053450;
    padding-top: 20px;
    padding-bottom: 30px;
    min-height: 50px;
    width:100%;
    /* position: fixed; */
    /* display:block; */
   
    /* border-bottom:#050930 3px solid; */
}
header a{
    color:#053450;
    text-decoration:none;
    text-transform: uppercase;
    font-size:15px; 
    /* font-weight: bold; */
    font-family: 'Oswald', sans-serif;
}
header ul{
    margin:0;
    padding: 0;
}
header li{
    
    display:inline;
    padding:0 20px 0 20px;
    
}

header #branding{
    float:left;
    margin-top: 20px;
    margin-left: -20px!important;
}

header #branding h1{
    margin:0;
   
    
}
header nav ul{
    float:right;
    /* margin-top:-17px!important; */
    margin-right: -20px!important;
}

header a:hover{
    color:#b9d5e7;
    /* font-weight: 400; */
    text-decoration: none;
}
li#search i{
    border:1px solid rgb(13, 66, 116);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 5px;
}
li#search i:hover{
    background-color:  rgb(13, 66, 116);

}

.header-line {
    height: 5px;
    background: #eee;
    width: 100%;
    clear: both;
}


.slider{
    position:relative;
    overflow: hidden;
    height:100vh;
    width:100vw;
}
.slide{
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
}
.slide.current{
    opacity:1;
}
.slide .content{
    position: absolute;
    margin-left: 380px;
    margin-top: 250px;
    left:-700px;
    opacity:0;
    background-color: #f4f4f4;
    color:#212121;
    width:500px;
    padding:30px;
}
.slide.current .content{
    opacity:1;
    transform:translateX(700px);
    transition:all 0.7s ease-in-out 0.3s;
}
.buttons button#next{
    position: absolute;
    top:350px;
    right:15px;
    display:none;
}
.buttons button#prev{
    position: absolute;
    top:350px;
    left:15px;
    display:none;
}
.buttons button{
border:2px solid #f4f4f4;
background-color: transparent;
color:#f4f4f4;
border-radius: 50%;
outline:none;
padding:10px 12px;
cursor: pointer;
}
.buttons button:hover{
    background-color: #ffffff;
    color:#ccc;
}

.slide:first-child{
    background-color:#fff;
    background: url("../images/image1.jpg") no-repeat center top/cover;
    margin-top: 20px;
}
.slide:nth-child(2){
    background: url("../images/image2.jpg") no-repeat center top/cover;
    margin-top: 20px;
}
.slide:nth-child(3){
    background: url("../images/Ghadiarwa_Pond_Birgunj__Parsa_Nepal.jpg") no-repeat center top/cover;
    margin-top: 20px;
}


 i.fa{
    border:10px solid #ccc;
    border-radius: 50%;
    padding:35px;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 40px;
    color:rgb(21, 144, 192)
}
i.fa:hover{
    background-color:#222;
} 

.icon-text{
    margin-left: 45px;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.column:hover{
    background-color: rgb(248, 245, 245);

}
p{
   text-align: center;
    color:#ccc;
}


.img-logos{
    padding:20px;
    margin-top: 30px;
    size: 10px;
    margin-bottom: 30px;
}

  /*about-page*/
  #info{
      /* margin-top:40px; */
      padding-top:40px;
      font-family:'Oswald', sans-serif;
  }
  .info-text{
      line-height: 1.2;
      font-size: 18px;
      font-weight: 300;
      font-family: 'Oswald', sans-serif;
      
  }
.team{
    margin-right: 25px;
    border:1px solid #ccc;
    width:30%;
    height:300px;
}

img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card{
      padding:-20px;
    margin-top: 10px; 
    margin-left:60px;
    border-radius:15px;
    width:90%;
    height:350px;
  }
  .card-1{
   
    margin-top: 20px; 
    margin-left:60px;
    border-radius:15px;
    width:90%;
    height:300px; 
  }
  /*project-page*/
  .img-fluid{
    transition: transform .8s;
  }
  .img-fluid:hover{
  transform: scale(1.1); 
  }
  .bottom-left {
    position: absolute;
    bottom: 58px;
    left: 38px;
    border:none;
    background-color: gray;
    color:#fff;
    padding:2px;
    text-decoration: none;
    
  }
/*project gallery*/
  .peoject-img{
    /* filter: none; 
    -webkit-filter: grayscale(0);  */
    transition: transform .8s;
      -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
      margin-bottom:20px;
  }
  .peoject-img:hover{
    transform: scale(1.1); 
    /* filter: gray; 
    -webkit-filter: grayscale(1);  */
  }

  .overlay {
    position: absolute; 
    bottom: 20px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 90%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  
  .gallery-img:hover .overlay {
    opacity: 1;
  }

  /*contact-form*/
  form input[type="text"]{
      width:80%;
      height:35px;
      border-radius: 15px;
  }
  form textarea{
     width:370px!important;
    border-radius: 25px !important;
  }